<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControleCliente</servlet-name>
        <servlet-class>br.com.oficina.controle.ControleCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controle</servlet-name>
        <servlet-class>br.com.oficina.controle.Controle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleTipoServico</servlet-name>
        <servlet-class>br.com.oficina.controle.ControleTipoServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleRegistroAtendimento</servlet-name>
        <servlet-class>br.com.oficina.controle.ControleRegistroAtendimento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleCliente</servlet-name>
        <url-pattern>/cliente/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/Controle/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleTipoServico</servlet-name>
        <url-pattern>/tipoServico/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleRegistroAtendimento</servlet-name>
        <url-pattern>/registroAtendimento/</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
